@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
}


body {
    font-family:  'Roboto', sans-serif;
    background-color:white;
    background-image: url(images/louis-hansel-VhqBh21uz0k-unsplash\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
a, a:hover{
    text-decoration: none;
}

nav{
    background:#ffffff00;
    padding: 5px 20px;
    display: flex;
    align-items: center;

}
nav a{
    color: #1e1a1a;
}
nav a:hover{
    color: rgb(236, 45, 45);
}
.logo img{
    width: 100px;
    
    margin-left: 100px;
}
.logo{
    flex: 1;

}
.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;

}
.logo a:hover{
    color: #fff;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    margin-right: 70px;
    padding:0px;
    font-size: 16px;
}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width :600px){
    nav{
        display: block;
        padding: relative;
        padding:15px 20px ;
    }
    .menu{
        margin-top: 15px;
        display:none;
    }
    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top:15px;
        right:20px
    }
}
.content{
    text-align: center;
}
.content h1{
    font-size: 50px;
    color: rgb(25, 25, 101);
    font-weight: 600;
    margin-top: 100px;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color:red;
    font-size: 24px;
    border: 2px solid red;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px; 
     
}

.back_video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .back_video{
        width:100%;
        height: auto;

    }
}
@media(max-aspect-ratio:16/9){
    .back_video{
        width:auto;
        height: 100%;
        
    }
}
#about{
    padding: 30vw 16vw 0 16vw;
    text-align: center;
    
}
#about h1{
    font-size: 2rem;
   
}


#about .feature_base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr ));
    grid: gap 1rem;
    margin-top: 50px;
}
#about .inno{
    background: #fff;
    text-align: center;
    
}
#about .feature_base ion-icon {
    font-size: 2.3rem;
    color: red;
}
#about .feature_base h2{
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(25, 25, 101) ;
    padding: 13px 0 7px 0;
}
#about .feature_base p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(25, 25, 101) ;
    
}
#services{
    padding: 16vw 16vw 0 16vw;
    text-align: center;
    

}
#services h1{
    font-size: 3rem;
    color: red;
   
}


#services .ser_base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr ));
    grid: gap 1rem;
    margin-top: 50px;
}

#services .ser_base h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(25, 25, 101) ;
    padding: 13px 0 7px 0;
}
#services .ser_base h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(25, 25, 101) ;
    padding: 13px 0 7px 0;
}
#services .ser_base p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(26, 26, 26) ;
}
#store{
    padding: 30vw 16vw 0 16vw;
    text-align: center;
    
}
#store h1{
    font-size: 3rem;
    color: red;
   
}
#store .slider{
    overflow: hidden;
     
}
#store .slider figure{
    position: relative;
    width:500% ; 
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}
#store .slider figure img{
    float: left;
    width: 20%;
     }
@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    
    }
    95%{
        left: -300%;

    }
    100%{
        left: -400%;
    }

}
#contact{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgb);
}


 


    
